<!DOCTYPE html>
<html>

<head>
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
  <meta name="version" content="<%= htmlWebpackPlugin.options.version %>">
  <meta name="author" content="<%= htmlWebpackPlugin.options.author %>">

  <% if (htmlWebpackPlugin.options.platform === 'mobile') { %>
  <!-- Cordova -->
  <script src="cordova.js"></script>
  <% } %>
  <% if (htmlWebpackPlugin.options.platform === 'web') { %>
  <base href="<%= htmlWebpackPlugin.options.baseUrl %>">
  <% } %>
</head>

<body aurelia-app="main">
  <div class="splash">
  	<div class="message"><%- webpackConfig.metadata.title %></div>
    <i class="fa fa-spinner fa-spin"></i>
  </div>

  <% if (htmlWebpackPlugin.options.ENV === 'development') { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
    <% } %>
</body>

</html>
